<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="cn.tedu.store.mapper.GoodsCategoryMapper">
	<!-- 查询商品信息 -->
	<!-- List<GoodsCategory> selectGoodsCategoryByParentId(@Param("parentId") Integer parentId,
			@Param("offset") Integer offset,@Param("count") Integer count) -->
	<select id="selectGoodsCategoryByParentId"
				resultType="cn.tedu.store.bean.GoodsCategory">
		SELECT
			id,
			parent_id as parentId,
			name,
			status,
			sort_order as sortOrder,
			is_parent as isParent,
			created_user as createdUser,
			created_time as createdTime,
			modified_user as modifiedUser,
			modified_time as modifiedTime	
		FROM
			t_goods_category
		WHERE
			parent_id = #{parentId}
		<if test="offset!=null">
			LIMIT #{offset},#{count}
		</if>		
	</select>		
	
</mapper>

















